/* ===================== BASIC RESET STARTS ================== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Boska", serif;
  --switzer_regular: "Switzer-Regular", serif;
  --switzer_semibold: "Switzer-Semibold", serif;
  --avenir_bold: "AvenirNextLTPro-Bold", serif;
  /* colors */
  --primary_color: #75ff69;
  --secondary_color: #1b3936;
  --primary_bg: #f9f9f9;
  --white: #fff;
  --secondary_text_color: #678784;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea,
select {
  font: inherit;
}
ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background-image: url(../images/long_bannar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* ===================== BASIC RESET ENDS ================== */

/* =============== SWITZER FONT STARTS =============== */
/* remember only h2 dont get semi-bold */
@font-face {
  font-family: "Switzer-Regular";
  src: url("../fonts/switzer/fonts/Switzer-Regular.ttf");
}
@font-face {
  font-family: "Switzer-Semibold";
  src: url("../fonts/switzer/fonts/Switzer-Semibold.ttf");
}

/* =============== AVENIR FONT STARTS =============== */
/* remember only h2 dont get semi-bold */
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../fonts/avenir-next/AvenirNextLTPro-Bold.otf");
}

/* =============== AVENIR FONT STARTS =============== */

/* =================== BANNAR STARTS ============= */
.bannar {
  min-height: 110vh;
  height: 100vh;
  background-image: url(../images//play_icon.png),
    url(../images/bannar_line.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 8.5rem, 65vw;
  background-position: 84% 50%, center;
}

.bannar .bannr_picture {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.bannar .bannr_picture img {
  width: 57rem;
  height: 57rem;
  object-fit: cover;
  border-radius: 50%;
}
.bannar .bannr_picture h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26.2rem;
  font-family: var(--primary_font);
  font-weight: 400;
  color: var(--white);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.bannar_pic_content .cosy {
  display: block;
  margin-left: 11rem;
  margin-top: 14.5rem;
  line-height: 16.118rem;
}

.bannar_pic_content .cabin {
  color: var(--primary_color);
  display: block;
  font-style: italic;
  margin-left: 26rem;
  margin-top: 4.5rem;
  line-height: 18.56rem;
}

.bannar_pic_content .in_the {
  display: block;
  font-size: 3.2rem;
  margin-top: 3rem;
  margin-left: 34rem;
}

.bannar_pic_content .woods {
  display: block;
  line-height: 16.18rem;
  margin-left: 3rem;
  margin-top: -2.5rem;
}

.bannar_pic_content {
  display: block;
}
.bannar_pic_content p {
  text-align: center;
  position: absolute;
  bottom: 12rem;
  transform: translateX(-50%);
  left: 50%;
  font-size: 1.8rem;
  font-family: var(--switzer_regular);
  max-width: 57rem;
  color: var(--white);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* =================== BANNAR ENDS ============= */

/* =================== FEATURE STARTS ============= */
.feature {
  background-color: var(--primary_bg);
  padding-top: 10.6rem;
}

.feature_wrapper {
  display: flex;
  gap: 5rem;
  padding-bottom: 12rem;
}

.feature_logo {
  width: 60%;
}

.feature_logo p {
  color: #1b3936;
  font-size: 2.4rem;
  margin-top: 4.1rem;
  font-family: var(--switzer_regular);
  /* max-width: 60.9rem; */
}
.feature_counter {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  justify-content: space-between;
}
.feature_counter h3 {
  font-family: var(--switzer_regular);
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--secondary_color);
}
.feature_forest-counter {
  margin-top: -3rem;
}
.feature_counter .counter_number {
  font-family: var(--primary_font);
  font-weight: 700;
  color: var(--secondary_color);
  font-size: 10rem;
}
.feature_counter .counter_text {
  font-family: var(--switzer_regular);
  font-size: 2.4rem;
  color: var(--secondary_color);
  margin-left: 1.3rem;
}

.feature_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* =================== FEATURE ENDS ============= */

/* =================== ABOUT US STARTS============= */
.about_us {
  padding-top: 7.5rem;
  position: relative;
  min-height: 162.4rem;
}
.about_us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23.3rem;
}
.about_us-title {
  text-transform: uppercase;
  font-family: var(--switzer_regular);
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--primary_color);
  margin-bottom: 2.5rem;
}
.about_us-description {
  font-family: var(--primary_font);
  font-size: 6.8rem;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  max-width: 108.3rem;
}
.about_us-description span {
  color: var(--secondary_text_color);
}
.about_us_img-1 {
  width: 40rem;
  height: 52.6rem;
  background: linear-gradient(
      to top right,
      rgba(27, 57, 54, 0.9),
      rgba(27, 57, 54, 0.1)
    ),
    url("../images/about_us_1.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 7.6rem;
  right: 6rem;
  z-index: -1;
}
.about_us_img-2 {
  width: 40rem;
  height: 34.2rem;
  background: linear-gradient(
      to left,
      rgba(27, 57, 54, 1),
      rgba(27, 57, 54, 0.1)
    ),
    url("../images/about_us_2.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 35.6rem;
  left: 7.8rem;
  z-index: -1;
}
.about_us_img-3 {
  width: 40rem;
  height: 50.2rem;
  background: linear-gradient(
      to bottom,
      rgba(27, 57, 54, 1),
      rgba(27, 57, 54, 0.1)
    ),
    url("../images/about_us_3.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 13rem;
  left: 25.8rem;
  z-index: -1;
}
.about_us_img-4 {
  width: 40rem;
  height: 50.2rem;
  background: linear-gradient(
      to bottom,
      rgba(27, 57, 54, 1),
      rgba(27, 57, 54, 0.1)
    ),
    url("../images/about_us_4.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 10rem;
  right: 29.8rem;
  z-index: -1;
}

/* =================== ABOUT US ENDS 

  padding-left: 3.8rem;
  padding-right: 6rem;
============= */
.unique_collection {
  margin-top: 8rem;
  padding-top: 19rem;
  height: 450px;
  position: relative;
  background-color: var(--primary_bg);
}
.curved_svg {
  width: 100%;
  height: 77px;
  position: absolute;
  top: -77px;
  background-image: url(../images/carvedLine.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
